[Unit]
Description=Periodically check for Orange Pi Monitor updates

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=orangepi-monitor-update.service

[Install]
WantedBy=timers.target
